/* ========================= LAYOUT DO BODY E NAVBAR ======================= */
#bodyPage
{
  padding-top: 56px;
  background-color: #9A12B3;
}

.navbar
{ /*#8b15be*/
  background-color:#6f006f;
}

#imgLogoTopPage
{
  margin-top: 5em;
  margin-bottom: 1.3em;
}
.navbar-brand
{
  color: white;
  font-weight: bold;
  font-size: 23pt;
}
.nav-link
{
  color: white;
  font-weight: bold;
  font-size: 14pt;
}

/* =============================== LAYOUT DO CAROUSEL ========================================= */

#carouselTopo
{
 width: 130em;
 height: 10em;
 margin-bottom: 16em;
 margin-top: 6em;
}

#myCarousel
{
  border: 2px solid black;
  margin-top: 6em;
}

footer
{
  font-weight: bold;
  font-size: 15pt;
  font-family: sans-serif;
  background-color: #6f006f;
}
